<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <form action="page1">
    <center>
      <h1>HOME</h1>
      <hr />
      <br />
      <label for="nos">Enter the number of students: </label>
      <input type="text" id="nos" name="nos" /><br /><br />
      <input type="submit" value="SUBMIT" />
      <hr />
    </center>
  </form>
</html>
